



 &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-primary btn-sm" href="{% url 'main_app:pdf_view' profile.id %}" target="_blank">download resume</a>
 

 <h3 style="font-family:Arial, Helvetica, sans-serif;">
    Integer mattis, ipsum a tincidunt commodo, lacus arcu elementum elit, at mollis eros ante ac risus. In volutpat,
ante at pretium ultricies, velit magna suscipit enim, aliq
 </h3>

 <h3 style="font-family:sans-serif">
    Integer mattis, ipsum a tincidunt commodo, lacus arcu elementum elit, at mollis eros ante ac risus. In volutpat,
ante at pretium ultricies, velit magna suscipit enim, aliq
</h3>

<h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    Integer mattis, ipsum a tincidunt commodo, lacus arcu elementum elit, at mollis eros ante ac risus. In volutpat,
ante at pretium ultricies, velit magna suscipit enim, aliq
</h3>

<h3 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    Integer mattis, ipsum a tincidunt commodo, lacus arcu elementum elit, at mollis eros ante ac risus. In volutpat,
ante at pretium ultricies, velit magna suscipit enim, aliq
</h3>

<h3 style="font-family:fantasy;">
    Integer mattis, ipsum a tincidunt commodo, lacus arcu elementum elit, at mollis eros ante ac risus. In volutpat,
ante at pretium ultricies, velit magna suscipit enim, aliq
</h3>

<h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">
    Integer mattis, ipsum a tincidunt commodo, lacus arcu elementum elit, at mollis eros ante ac risus. In volutpat,
ante at pretium ultricies, velit magna suscipit enim, aliq
</h3>

<h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    Integer mattis, ipsum a tincidunt commodo, lacus arcu elementum elit, at mollis eros ante ac risus. In volutpat,
ante at pretium ultricies, velit magna suscipit enim, aliq
</h3>